@media screen and (max-width: 768px) {
    #menu {
        flex-direction: column;
        .container {
            flex-direction: column;
            align-items: flex-start;
            .siblings {
                .mobile-nav {
                    display: inline-block;
                    padding: 10px;
                }
                #search-bar {
                    top: 15px;
                    right: 30px;
                }
            }
            ul {
                flex-direction: column;
                width: 100%;
                >li {
                    a {
                        padding-left: 15vw;
                    }
                }
            }
        }
    }
    #header {
        .container {
            padding: 0 20px;
            .logo-container {
               >a {
                   max-width: 100%;
               }
            }
        }
    }
}